shiny:
  image:
    repository: ghcr.io/firms-gta/dashboardcwpdatasetpreloadeddata
    tag: "latest"
    pullPolicy: Always

  ingress:
    enabled: true
    hostname: dashboard.lab.dive.edito.eu

  startupProbe:
    enabled: true
    httpGet:
      path: /
      port: http
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 30   # 5 minutes

  readinessProbe:
    enabled: true
    httpGet:
      path: /
      port: http
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 6

  livenessProbe:
    enabled: true
    httpGet:
      path: /
      port: http
    initialDelaySeconds: 60
    periodSeconds: 20
    timeoutSeconds: 3
    failureThreshold: 3

  resources: {}
