shiny:
  image:
    repository: ghcr.io/bastienird/tunaatlas_pie_map_shiny-fsdata-preloaded
    tag: "14e5b85a161793c05172b0566df3e3cdbabff36a"
    pullPolicy: Always
    
  ingress:
    enabled: true
    hostname: tunaatlaspiemapshinyfsdata.lab.sspcloud.fr

  resources:
    requests:
      cpu: "500m"
      memory: "2Gi"
    limits:
      cpu: "2"
      memory: "4Gi"

  startupProbe:
    httpGet:
      path: /
      port: http
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 30

  readinessProbe:
    httpGet:
      path: /
      port: http
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 6

  livenessProbe:
    httpGet:
      path: /
      port: http
    initialDelaySeconds: 60
    periodSeconds: 20
    timeoutSeconds: 3
    failureThreshold: 3

